body {
  max-width: 500px;
  margin: 0 auto 0 auto;
  padding: 0 10px 0 10px;
}

.banner {
  border-radius: 5px;
  padding: 10px;
  color: rgb(48, 48, 48);
}

.success {
  background: rgb(103, 202, 103)  
}

.warn {
  background: rgb(255, 196, 86);
}

.place-box {
  border-radius: 5px;
  background-color: #dedede;
  padding: 5px 10px 5px 10px;
  margin-top: 10px;
}